.navbar{
    text-align: center;
    margin: auto;
    width: 91%;
}
.navbar-start{
    text-align: center;
    margin: auto;
}
.navbar-item{
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
}

label {
    width: 180px;
    clear: left;
    text-align: right;
    padding-right: 10px;
}

input, label {
    float: left;
}

.menu-link{
    color: #fff;
}