#logo{
    background-color:#fecc30;
    text-align: center;
    padding: 25px;
}

#logo-name{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size:60px;
    color: #fff;
}

.inline-block{
    display: inline-block;
}

#main-navbar{
    text-align: center;
    margin: auto;
}

.navbar-start{
    text-align: center;
    margin: auto;
}
.navbar-item{
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}

.button .is-primary{
    background-color: #fecc30;
}

