/* HEADER */
#logo{
    background-color:#e9bc34;
    background-size: 100%;
    background-image: url(../images/banner.png);
    text-align: center;
    padding: 25px;
}

.logo-name{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size:60px;
    color: #fff;
}

#pizza-man-img {
    margin-bottom: -25px
}

#logo-name-pizza {
    margin-left: -10px;
}

.inline-block{
    display: inline-block;
}

/* HOVEDMENY */
#main-navbar{
    text-align: center;
    margin: auto;
}

.navbar-start{
    text-align: center;
    margin: auto;
}
.navbar-item{
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}

/* RESTAURANT-CARDS */
.restaurant-card-name {
    font-weight: 700;
    font-size: 22px;
    color: #363636;
    cursor: pointer;
    text-align: center;
}

/* POPUPS */
.modal-card-title-main {
    font-weight: 700;
    margin-bottom: 7px;
}

.modal-card-title-second {
    font-weight: 300;
    font-size: 15px
}