#logo{
    background-color:#e9bc34;
    background-image: url(../images/banner.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 25px;
}

.logo-name{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size:60px;
    color: #fff;
}

#pizza-man-img {
    margin-bottom: -25px
}

#logo-name-pizza {
    margin-left: -10px;
}

.inline-block{
    display: inline-block;
}

.navbar{
    text-align: center;
    margin: auto;
    width: 91%;
}
.navbar-start{
    text-align: center;
    margin: auto;
}
.navbar-item{
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
}